include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    title Юрист - Никита Тарновский
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollToPlugin.min.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=4c6eeddf-a2c0-42d3-a7f6-d791db37802d&lang=ru_RU" type="text/javascript")
  body
    .wrapper
      header.header
        .header__container.container
          .header__logo
            a.header__link(href="#hero")
              +image("content/logo.png", "header__img", "логотип")
          .header__nav
            nav.menu
              -
                var items = [
                  {href: "#hero", name: "Главная"},
                  {href: "#practice", name: "Юридическая практика"},
                  {href: "#inst", name: "Instagram"},
                  {href: "#contacts", name: "Контакты"},
                  {href: "#map", name: "Локация"},
                  {
                    hrefOne: "#practiceOne",
                    hrefTwo: "#practiceTwo",
                    name: "Еще",
                    nameTwo: "Направления юридической практики"
                  }
                ];
              ul.menu__list
                each item in items
                  if item.name === "Еще"
                    li.menu__item
                      .menu__link.dropdown #{item.name}
                        .dropdown__menu
                          ul.dropdown__list
                            li.dropdown__item
                              a.dropdown__link(href=item.hrefOne) #{item.nameTwo}
                            li.dropdown__item
                              a.dropdown__link(href=item.hrefTwo) #{item.nameTwo}
                  else
                    li.menu__item
                      a.menu__link(href=item.href) #{item.name}

          .header__links
            -
              var icons = [
                {href: "https://www.instagram.com/yourist_msk/", name: "insta"},
                {href: "https://www.facebook.com/YouRistMSK", name: "facebook"}
              ];
            ul.socials
              each icon in icons
                li.socials__item
                  a.socials__link(href=icon.href)
                    +icon(icon.name, "socials__icon")

          .hamburger
            input(id="hamburger__toggle", type="checkbox")
            label.hamburger__btn(for="hamburger__toggle")
              span
            -
              var items = [
                {href: "#hero", name: "Главная"},
                {href: "#practice", name: "Практика"},
                {href: "#inst", name: "Instagram"},
                {href: "#contacts", name: "Контакты"},
                {href: "#map", name: "Локация"}
              ];
            ul.hamburger__box
              each item in items
                li.hamburger__item
                  a.hamburger__link(href=item.href) #{item.name}

      main
        article.hero(id="hero")
          .hero__bg
            +image("background/moscow.jpg", "hero__img", "картинка москвы")
          .hero__container
            .hero__content
              h1 Никита Тарновский #[br]Ваш Юрист
              h2 Защита Ваших интересов превыше всего
              h3 Ищите Юриста или Представителя в Москве?
              p Я, предлагаю полный спектр юридической поддержки. Если у вас есть юридическая проблема или вопрос, я смогу
                | предложить вам лучшее решение в г. Москва. У меня репутация юриста, который использует творческий подход к
                | судебным разбирательствам и всегда добивается исключительных результатов там, где другим это не удается.
                | Я занимаюсь юридической, адвокатской практикой с 2010 года.
              .hero__btn
                a.btn(href="#contacts") Контакты

        article.practice(id="practice")
          .practice__header
            .practice__header-container.container
              h2 Направления юридической практики
              h3 Наша команда профессиональных Юристов и Адвокатов оказывает помощь по следующим направлениям
          .practice__content
            -
              var items = [
                {
                  name: "Арбитраж",
                  desc: "Любая категория дел, от Приказов до Банкротства",
                  img: "practice1"
                },
                {
                  name: "Согласование условий договора",
                  desc: "Полностью уникальный договор по вашим условиям для защиты интересов",
                  img: "practice2"
                },
                {
                  name: "Взаимодействия с Гос.Органами",
                  desc: "Консультация по обращениям и защите интересов",
                  img: "practice3"
                }
              ];
            .practice__list(id="practiceOne")
              ul.practice__list-container.container
                each item in items
                  li.practice__item
                    h2 #{item.name}
                    +image(`content/${item.img}.jpg`, "practice__img", "контентное изображение")
                    h3 #{item.desc}
            -
              var items = [
                {
                  name: "Гражданско-правовые споры",
                  desc: "Защита и Представительство в Судах",
                  img: "practice4"
                },
                {
                  name: "Защита Прав Потребителей",
                  desc: "Огромный опыт успешных дел",
                  img: "practice5"
                },
                {
                  name: "Возмещение вреда жизни или здоровью",
                  desc: "Помощь после ДТП, Несчастных Случаев на производстве, Гибели",
                  img: "practice6"
                }
              ];
            .practice__list(id="practiceTwo")
              ul.practice__list-container.container
                each item in items
                  li.practice__item
                    +image(`content/${item.img}.jpg`, "practice__img", "контентное изображение")
                    h2 #{item.name}
                    h3 #{item.desc}
            -
              var items = [
                {
                  name: "Подготовка и обучение Бизнес -Процессам",
                  desc: "Создание карты взаимодействий отделов, обучение документо-обороту и многое другое",
                  img: "practice7"
                },
                {
                  name: "Бракоразводный процесс и Взыскание Алиментов",
                  desc: "Конфиденциальность и урегулирование разногласий",
                  img: "practice8"
                },
                {
                  name: "Судебный возврат долгов по распискам, договорам",
                  desc: "Как вернуть деньги по расписке? - обратитесь к нам",
                  img: "practice9"
                }
              ];
            .practice__list
              ul.practice__list-container.container
                each item in items
                  li.practice__item
                    +image(`content/${item.img}.jpg`, "practice__img", "контентное изображение")
                    h2 #{item.name}
                    h3 #{item.desc}


        .inst(id="inst")
          .inst__content
            ul.inst__list
            button.inst__btn-more Показать еще
            .fullscreen.swiper-container
              ul.fullscreen__list.swiper-wrapper
              .fullscreen__close
                +icon("close", "fullscreen__icon")
              .fullscreen__left.swiper-button-prev
              .fullscreen__right.swiper-button-next


        article.contacts(id="contacts")
          .contacts__pic
          .contacts__content
            .contacts__container
              .contacts__text
                h2.contacts__title Связаться
                p Ленинградский пр-т., 47 стр. 1
                p tarkit@gmail.com
                p На связи 24\7 для наших клиентов
              .contacts__form
                form.form
                  .form__row
                    input.form__input(placeholder="Имя", type="text", name="name" required)
                    .form__validate
                  .form__row
                    input.form__input(placeholder="Адрес", type="text", name="address")
                  .form__row
                    .form__col
                      input.form__input(placeholder="Эл.почта", type="email", name="email" required)
                      .form__validate
                    .form__col
                      input.form__input(placeholder="Телефон", type="tel", name="tel")
                  .form__row
                    input.form__input(placeholder="Тема", type="text", name="obj")
                  .form__row
                    textarea.form__input.form__input--textarea(placeholder="Добавьте сообщение...", name="text")
                  button.form__btn(type="submit") Отправить
                  .form__thanks Отправлено. Спасибо!

        .map(id="map")

      footer.footer
        .footer__text &copy;2021 Ваш Юрист в Москве.